# data/processed_questions/TrustGPT/social-chem-101.json filter=lfs diff=lfs merge=lfs -text
# bias_detection/TrustGPT/social-chem-101/social-chem-101.v1.0.tsv filter=lfs diff=lfs merge=lfs -text
# data/raw_questions/TrustGPT/social-chem-101.json filter=lfs diff=lfs merge=lfs -text
data/processed_questions/TrustGPT/social-chem-101.json filter=lfs diff=lfs merge=lfs -text
bias_detection/TrustGPT/social-chem-101/social-chem-101.v1.0.tsv filter=lfs diff=lfs merge=lfs -text
data/processed_questions/TrustGPT/social-chem-101 filter=lfs diff=lfs merge=lfs -text
data/raw_questions/TrustGPT/social-chem-101.json filter=lfs diff=lfs merge=lfs -text
data/processed_questions/wikidata.json filter=lfs diff=lfs merge=lfs -text
data/processed_questions/wikidata_llama3.json filter=lfs diff=lfs merge=lfs -text
data/processed_questions/TrustGPT/social-chem-101_1w.json filter=lfs diff=lfs merge=lfs -text
