.env
venv
__pycache__
.idea
.DS_Store
*.egg-info
.vscode

*.out
imgs/
sbatch*
casper/__pycache__
data/processed_questions/dataset_with_prompt/
data/processed_questions/TrustGPT/social-chem-101.json
prompt_intervention/
results/
prompt_intervention/


