.env
venv
__pycache__
.idea
.DS_Store
*.egg-info
.vscode

*.out
imgs/
sbatch*
casper/__pycache__
data/processed_questions/dataset_with_prompt/
data/processed_questions/TrustGPT/social-chem-101.json
data/processed_questions/TrustGPT/social-chem-101_3w_1.json\
casper/
classification_notebooks/
results/
other/
prompt_intervention/AutoDAN/
prompt_intervention/GCG/
prompt_intervention/PAP
bias_detection/
finetuning/
jailbreak_detection/
experiments_alpaca_vicuna/
outputs*
*.ipynb
requirements_caspter.txt


